<h1>Editing result</h1>

<%= render "form", reward: @reward %>

<br>

<div>
<table>
<tr><td>
  <%= link_to "Show this result", @reward %> |
  </td> </tr>
  </table>
  <%= link_to "Back to result", rewards_path %>
</div>
