<h1>Editing result</h1>

<%= render "form", outcome: @outcome %>

<br>

<div>
<table>
<tr><td>
  <%= link_to "Show this result", @outcome %> |
  </td> </tr>
  </table>
  <%= link_to "Back to result", outcomes_path %>
</div>
